@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");



* {
  font-family: "Red Hat Display", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-color: hsl(225, 100%, 94%);
  height: 100vh;
  background-size: 100%;

}
main {
  background-color: #fff;
  width: 80%;
  border-radius: 5%;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3rem;
  box-shadow: 0px 10px 20px rgb(185, 184, 184);
  max-width: 25rem;
  
}

@media(min-width:500px){
  body{
    background-image: url("images/pattern-background-desktop.svg");
 background-repeat: no-repeat;

  }
}

.card{
  border-radius: 5%;
  background-color: white;
  box-shadow: 0px 15px 50px -20px hsl(224, 23%, 55%);
  margin:auto;
  text-align: center;
  overflow: hidden;

}

.headimage{

	margin: auto;
	max-width: 100%;

}

.card-content {
  padding: 2rem 0; 
}

.card-content h1{
  
  color: hsl(223, 47%, 23%);
  font-size: 1.3rem;
  font-weight: 800;
}

.card-content .cardtext{
  color: hsl(224, 23%, 55%);
  line-height: 1.5;
  padding: 1.3rem 2rem 2rem 2rem;
  font-size: 15px;
}

.planbox{
  display: grid;
  margin: 0 2.5rem 1.5rem 2.5rem;
  border-radius: 0.75rem;
  background-color: hsl(225, 100%, 98%);
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding: 1rem;
}

.planimage {
  margin: auto;
}

.plantext {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.plantext h2 {
  color: hsl(223, 47%, 23%);
  font-size: 16px;
  font-weight: 900;
  
}

.plantext p {
  color: hsl(224, 23%, 55%);
  font-size: 14px;
  padding-top: 2px;
}

.planbtn {
  color: hsl(245, 75%, 52%);
  font-size: 0.9rem;
  font-weight: 900;
  transition: all 0.25s ease;
  text-decoration: none;
}

.planbtn:hover,
.planbtn:active {
  color: hsla(245, 75%, 52%, 0.6);
  text-decoration: none;
  cursor: pointer;
}

.btnbox{
  margin: 0 2.5rem 1rem 2.5rem;
  align-items: center
}

.paymentbtn {
  width: 100%;
 border: none;
 margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.7rem;
  background-color: hsl(245, 75%, 52%);
  color: hsl(225, 100%, 98%);
  box-shadow: 0px 15px 40px -12px hsla(245, 75%, 52%, 0.6);
  transition: all 0.25s ease;
  align-items: center;
}

.paymentbtn:hover,
.paymentbtn:active {
  background-color: hsla(245, 75%, 52%, 0.6);
}

.cancelbtn {
  background: none;
  border: none;
  color: hsl(224, 23%, 55%);
  transition: all 0.25s ease;
}

.cancelbtn:hover,
.cancelbtn:active {
  color:  hsl(223, 47%, 23%);
  font-weight: 900;
}


/*attribution frontend mentor*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 375px) {

.planimage{
	max-width: 80%;
}

.plantext h2 {
  font-size: 13px;
  font-weight: 700;
}

.plantext p {
  font-size: 12px;
}

.planbtn {
  font-size: 0.7rem;
  font-weight: 500;
}


	}